// buttons
// carousel
// slider

.btn-success {
  @include button($success-color);
}
.btn-primary {
  @include button($primary-color);
}
.btn-cta {
  @include button($cta-color);
}

.book {
  text-align: center;
  direction: rtl;
  .cover {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 30px hsl(222, 28%, 90%);
    .badge {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      font-size: 0.8rem;
      border-radius: 0.8rem;
      z-index: 1;
      background-color: rgba($primary-color, 0.3);
      backdrop-filter: blur(8px);
      color: white;
      padding: 0.2rem 0.4rem;
    }
  }
  .name {
    color: $primary-color;
  }
  .author {
    color: $text-muted;
    font-size: 0.8rem;
  }
}

.card {
  margin: 0 auto;
  max-width: 240px;
  border-radius: 1rem;
  box-shadow: 0 4px 40px $shadow-color;
  border: 1px solid $shadow-color;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  .icon {
    font-size: 3rem;
    color: rgba($primary-color, 1);
    text-shadow: 0 0 4rem rgba($primary-color, 1);
  }
  .title {
  }
  .text {
    color: $text-muted;
  }
}
