// navigation
// grid
// header
// footer
// sidebar
// forms

footer {
  // text-align: center;
  background-color: $footer-bg-color;
  color: whitesmoke;
  padding: 6rem 0;
  h3 {
    color: $primary-color;
  }
  a {
    display: block;
    color: snow;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
  }

  .footer-social {
    text-align: center;
    i {
      font-size: 2rem;
      margin: 4rem 1rem 0 1rem;
      transition: color 0.3s;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

// responsive

@media screen and (max-width: $break-point) {
  footer {
    .col-sm-12 {
      margin-bottom: 2rem;
    }
  }
}
