nav {
  position: fixed;
  top: 0;
  width: 100%;
  // box-shadow: 0 4px 4px $shadow-color;
  font-family: "Yekan";
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  z-index: 5;
  direction: ltr;
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    .nav-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: auto;
      .logo {
        font-size: 2rem;
        cursor: pointer;
        transition: color 0.2s;
        opacity: 0.8;
        &:hover,
        &:focus {
          color: $primary-color;
          text-shadow: 0 0 3rem $primary-color;
        }
      }
      #nav-toggle {
        display: none;
        padding: 0.5rem 1.2rem;
        i {
          padding: 0;
        }
      }
    }
    .nav-link {
      flex-shrink: 0;
      flex-grow: 0;
      font-weight: bold;
      padding: 1.5rem 1.8rem;
      position: relative;
      cursor: pointer;
      i {
        position: absolute;
        left: 0;
        top: 40%;
        transition: transform 0.3s;
      }

      &:after {
        position: absolute;
        content: "";
        width: 0%;
        height: 0.3em;
        background: $primary-color;
        border-radius: 4px;
        bottom: 1em;
        left: 1.6em;
        transition: width 0.3s;
      }
      &:hover::after {
        width: 60%;
      }
      &:hover {
        ul {
          opacity: 1;
          visibility: visible;
        }
        i {
          transform: rotate(180deg);
        }
      }

      .nav-drop {
        text-align: right;
        position: absolute;
        top: 4.4rem;
        box-shadow: 0 4px 16px $shadow-color;
        background-color: white;
        border-radius: 4px;
        border: 1px solid $shadow-color;
        width: 12rem;
        padding: 0.5rem;
        margin-left: -9rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: 300ms ease-out;
        li {
          padding: 0.5rem 1rem;
          border-radius: 4px;
          cursor: pointer;
          transition: background 0.1s;
          &:hover,
          &:focus {
            background: $primary-color-light;
          }
        }
      }
    }
  }
}

// ========================= RESPONSEVIE =========================

// always show nav link and items above break point
@media screen and(min-width: $break-point) {
  nav {
    .nav-list {
      .nav-item {
        display: flex !important;
      }
      .nav-link {
        display: flex !important;
      }
    }
  }
}

// hide nav link and items below break point and show toggle btn
@media screen and(max-width: $break-point) {
  nav {
    text-align: right;
    padding: 1rem 0;
    .nav-list {
      display: block;
      .nav-logo {
        #nav-toggle {
          display: block;
        }
      }
      .nav-link {
        padding: 1.5rem 0;
        i {
          position: absolute;
          left: 1rem;
          top: 1.8rem;
        }
        .nav-drop {
          top: 1rem;
          box-shadow: unset;
          width: unset;
          margin-left: 0;
          opacity: 0;
          visibility: hidden;
        }
        &:after {
          top: 3.5em;

          left: 90%;
          transition: width 0.3s;
        }
        &:hover::after {
          width: 3em;
        }
        &:hover {
          ul {
            position: relative;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
