@import "_base";
@import "_layout";
@import "_navigation";
@import "_components";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 98%);
  font-family: "yekan", sans-serif;
}

.section-hero {
  text-align: right;
  padding: 8rem 0 6rem 0;
  background-color: rgba($primary-color, 0.1);
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    font-size: 1.8rem;
  }
  p {
    color: $text-muted;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

.section-topbooks {
  padding: 6rem 0;
}

.section-newbooks {
  padding: 6rem 0;
  background-color: rgba($primary-color, 0.1);
}
.section-banner {
  padding-top: 6rem;
  cursor: pointer;
  img {
    border-radius: 1rem;
  }
}

.section-guarantee {
  padding: 6rem 0;
}
