@import "_base";
@import "_layout";
@import "_navigation";
@import "_components";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 98%);
  font-family: "yekan", sans-serif;
}

.section-hero {
  padding: 6rem 0;
  background-color: rgba($primary-color, 0.09);
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    color: $text-muted;
    margin-bottom: 1rem;
  }
}
.section-topbooks {
  padding: 6rem 0;
}

.section-newbooks {
  padding: 6rem 0;
  background-color: rgba($primary-color, 0.09);
}

.section-guarantee {
  padding: 6rem 0;
}
