@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");
.owl-carousel {
  direction: ltr;
}

.owl-carousel .owl-nav {
  display: none;
}

@font-face {
  font-family: "yekan";
  src: url(../fonts/yekan.woff);
}

img {
  display: block;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.9rem;
}

h3 {
  margin-bottom: 0.8rem;
}

footer {
  text-align: center;
  background-color: #121212;
  color: whitesmoke;
  padding: 6rem 0;
}

footer h3 {
  color: hotpink;
}

footer a {
  display: block;
  color: snow;
  text-decoration: none;
}

footer a:hover {
  color: hotpink;
}

footer .footer-social i {
  font-size: 2rem;
  margin: 4rem 1rem 0 1rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

footer .footer-social i:hover {
  color: hotpink;
}

@media screen and (max-width: 768px) {
  footer .col-sm-12 {
    margin-bottom: 2rem;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Yekan";
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 5;
  direction: ltr;
}

nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

nav .nav-list .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

nav .nav-list .nav-logo .logo {
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  opacity: 0.8;
}

nav .nav-list .nav-logo .logo:hover, nav .nav-list .nav-logo .logo:focus {
  color: hotpink;
  text-shadow: 0 0 3rem hotpink;
}

nav .nav-list .nav-logo #nav-toggle {
  display: none;
  padding: 0.5rem 1.2rem;
}

nav .nav-list .nav-logo #nav-toggle i {
  padding: 0;
}

nav .nav-list .nav-link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-weight: bold;
  padding: 1.5rem 1.8rem;
  position: relative;
  cursor: pointer;
}

nav .nav-list .nav-link i {
  position: absolute;
  left: 0;
  top: 40%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

nav .nav-list .nav-link:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0.3em;
  background: hotpink;
  border-radius: 4px;
  bottom: 1em;
  left: 1.6em;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

nav .nav-list .nav-link:hover::after {
  width: 60%;
}

nav .nav-list .nav-link:hover ul {
  opacity: 1;
  visibility: visible;
}

nav .nav-list .nav-link:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .nav-list .nav-link .nav-drop {
  text-align: right;
  position: absolute;
  top: 4.4rem;
  -webkit-box-shadow: 0 4px 16px #e1e5ee;
          box-shadow: 0 4px 16px #e1e5ee;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #e1e5ee;
  width: 12rem;
  padding: 0.5rem;
  margin-left: -9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

nav .nav-list .nav-link .nav-drop li {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}

nav .nav-list .nav-link .nav-drop li:hover, nav .nav-list .nav-link .nav-drop li:focus {
  background: rgba(255, 105, 180, 0.2);
}

@media screen and (min-width: 768px) {
  nav .nav-list .nav-item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  nav .nav-list .nav-link {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 768px) {
  nav {
    text-align: right;
    padding: 1rem 0;
  }
  nav .nav-list {
    display: block;
  }
  nav .nav-list .nav-logo #nav-toggle {
    display: block;
  }
  nav .nav-list .nav-link {
    padding: 1.5rem 0;
  }
  nav .nav-list .nav-link i {
    position: absolute;
    left: 1rem;
    top: 1.8rem;
  }
  nav .nav-list .nav-link .nav-drop {
    top: 1rem;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    width: unset;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
  }
  nav .nav-list .nav-link:after {
    top: 3.5em;
    left: 90%;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  nav .nav-list .nav-link:hover::after {
    width: 3em;
  }
  nav .nav-list .nav-link:hover ul {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

.btn-success {
  border: none;
  outline: transparent;
  padding: 0.3rem 1.4rem;
  border-radius: 0.5rem;
  background: #d3f8d3;
  color: #1fc71f;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.btn-success i {
  padding-right: 0.5em;
}

.btn-success:hover {
  background: #bdf5bd;
}

.btn-success:focus {
  text-shadow: 0 0 18px #7bea7b;
  outline: 4px solid #b0f3b0;
}

.btn-success:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  border: none;
  outline: transparent;
  padding: 0.3rem 1.4rem;
  border-radius: 0.5rem;
  background: #ffcfe7;
  color: #e90074;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.btn-primary i {
  padding-right: 0.5em;
}

.btn-primary:hover {
  background: #ffb6da;
}

.btn-primary:focus {
  text-shadow: 0 0 18px hotpink;
  outline: 4px solid #ffa6d3;
}

.btn-primary:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-cta {
  border: none;
  outline: transparent;
  padding: 0.3rem 1.4rem;
  border-radius: 0.5rem;
  background: #ccdeff;
  color: #0050e6;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.btn-cta i {
  padding-right: 0.5em;
}

.btn-cta:hover {
  background: #b3cdff;
}

.btn-cta:focus {
  text-shadow: 0 0 18px #669cff;
  outline: 4px solid #a3c3ff;
}

.btn-cta:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.book {
  text-align: center;
  direction: rtl;
}

.book .cover {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 30px #dee3ed;
          box-shadow: 0 4px 30px #dee3ed;
}

.book .cover .badge {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.8rem;
  z-index: 1;
  background-color: rgba(255, 105, 180, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: white;
  padding: 0.2rem 0.4rem;
}

.book .name {
  color: hotpink;
}

.book .author {
  color: #4f5052;
  font-size: 0.8rem;
}

.card {
  margin: 0 auto;
  max-width: 240px;
  border-radius: 1rem;
  -webkit-box-shadow: 0 4px 40px #e1e5ee;
          box-shadow: 0 4px 40px #e1e5ee;
  border: 1px solid #e1e5ee;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.card .icon {
  font-size: 3rem;
  color: hotpink;
  text-shadow: 0 0 4rem hotpink;
}

.card .text {
  color: #4f5052;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "yekan", sans-serif;
}

.section-hero {
  padding: 6rem 0;
  background-color: rgba(255, 105, 180, 0.09);
}

.section-hero .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-hero p {
  color: #4f5052;
  margin-bottom: 1rem;
}

.section-topbooks {
  padding: 6rem 0;
}

.section-newbooks {
  padding: 6rem 0;
  background-color: rgba(255, 105, 180, 0.09);
}

.section-guarantee {
  padding: 6rem 0;
}
